<div class="container">
  <img src="assets/images/logo.png" alt="logo" (click)="onHomeClicked()"/>
</div>
<div class="container">
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/projects">Open Source</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="https://medium.com/@alex1kariuki">Blog</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="mailto:alexngugi47@gmail.com">Get in touch</a>
    </li>
  </ul>
</div>