<div class="contact-form">
  <form>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Name</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Your name" aria-describedby="emailHelp">
      <div id="emailHelp" class="form-text" >We will never share your email address with anyone else.</div>
    </div>
    <div class="mb-3">
      <label for="exampleInputEmail1" class="form-label">Email</label>
      <input type="email" class="form-control" id="exampleInputEmail1" placeholder="you@yohmama.com" aria-describedby="emailHelp">
      <!-- <div id="emailHelp" class="form-text" >We'll never share your email with anyone else.email with</div> -->
    </div>
    <div class="mb-3">
      <label for="exampleInputPassword1" class="form-label">Phone</label>
      <input type="phone" class="form-control" placeholder="+1(555)000-0000" id="examplePhoneInput">
    </div>
    <div class="mb-3">
      <!-- <label for="exampleFormControlTextarea1" class="form-label">Example textarea</label> -->
      <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Any further details on the project or yourself..." rows="3"></textarea>
    </div>
  </form>
</div>
<a href="/success">
  <button type="button" class="btn" >Submit</button>
</a>
