.projects {
  // margin-top: 1vh;
  // margin: 50px;
  color: white;
  .card{
    background-color: #101010;
    color: white;
    .project-img{
      height: 100%;
      width: 100%;
      object-fit: contain;
      display: block;
    }
  }
  .left-card {
    height: 40vh;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    .bg-primary{
      background-color: #101010;
    }
    #date{
      font-size: 14px;
      color: gray;
      font-weight: 500;
    }
    #title{
      font-size: 22px;
      font-weight: 600;
    }
    #description{
      margin: 10px;
      color: gray;
      font-size: 15px;
    }
    button{
      margin: 20px;
      width: 150px;
      height: 40px;
      border-radius: 5px;
    }
    svg{
      height: 23px;
      margin-right: 23px;
    }
  }
  .right-card {
    height: 40vh;
    border-radius: 15px;
    padding: 10px;
    margin: 20px;
    .bg-primary{
      background-color: #101010;
    }
  }
  .small-cards{
    margin-left: 10px;
    margin-right: 10px;

    .card{
      height: 30vh;
      border-radius: 15px;
      
      // margin-top: -20px;
    }
  }
}
